

.all{
    margin: 0;
   padding: 0;
   font-family: Quicksand ;
}

.navbar{
    margin: 0;
    padding: 0;
    display:flex;
    flex-direction: row;
    justify-content:flex-end;
    align-items: center;
    height: 100%;
    background-color: blueviolet;
    position: relative;
}
#svg{
    width: 60px; 
    height: 60px;
    position: absolute; 
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
}

#name{
    margin-right: auto;
    padding-left: 20px;
    font-weight: 500;
    font-size: 20px;
    transition: color 0.3s ease;
}
#name:hover{
    color: white;
    transition: all 0.3s ease;
    cursor:default;
}
nav a{
    font-size: 120%;
    text-decoration: none;
    color: black;
    height: 100%;
    padding:20px 20px;
    transition: color 0.3s ease, background-color 0.3s ease;
}
nav a:hover{
    color: blueviolet;
    background-color: black;
    transition: all 0.3s ease;
}
.part2{
    display:flex;
    flex-direction: row;
    justify-content:right;
    align-items: center;
    padding-top: 100px;
    padding-right:200px;
    gap: 10px;
    
}
.texts{
    display:flex;
    flex-direction:column;

}
.texts p{
    font-size: 20px;
}
.image{
    width: 450px;
    padding: 0;
    border: 3px solid blueviolet ;
    border-radius:70px;
}
@media (max-width: 900px) {
    .navbar {
        flex-wrap: wrap; 
    }
    .part2 {
        flex-direction: column; 
        align-items:center; 
        padding-left: 0;
        padding-right: 0;
    }
    .image {
        align-self: center;
    }
    .texts {
        width: 100%;
        text-align: center;

    }
    
    .texts h1 {
        font-size: 1.5em;
    }
    
    .texts p{
        font-size: 16px;
        text-align: center;
    }
}