

.all{
    margin: 0;
   padding: 0;
   font-family: Quicksand ;
}

.navbar{
    margin: 0;
    padding: 0;
    display:flex;
    flex-direction: row;
    justify-content:flex-end;
    align-items: center;
    height: 100%;
    background-color: blueviolet;
    position: relative;
}
#svg{
    width: 60px; 
    height: 60px;
    position: absolute; 
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
}

#name{
    margin-right: auto;
    padding-left: 20px;
    font-weight: 500;
    font-size: 20px;
    transition: color 0.3s ease;
}
#name:hover{
    color: white;
    transition: all 0.3s ease;
    cursor:default;
}
nav a{
    font-size: 120%;
    text-decoration: none;
    color: black;
    height: 100%;
    padding:20px 20px;
    transition: color 0.3s ease, background-color 0.3s ease;
}
nav a:hover{
    color: blueviolet;
    background-color: black;
    transition: all 0.3s ease;
}
.part2{
    display:flex;
    flex-direction: row;
    justify-content:center;
    align-items: center;
    text-align: center;
    padding-top: 100px;
    gap: 10px;
    
}
.texts{
    display:flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
}

.buttons{
    display:grid;
    grid-template-columns: repeat(3,200px);
    gap: 10px;
    justify-content:center;
}

.buttons > div {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 15px;
    border-radius: 8px;
    border: 1px solid blueviolet;
}
.buttons >div a{
    text-decoration: none;
    text-align: center;
    color: black;
    border: 1px solid blueviolet;
    background-color: blueviolet;
    border-radius: 8px;
    margin-top: auto;
    padding: 8px 20px;
    transition: color 0.3s ease, background-color 0.3s ease;
}
.buttons a:hover{
    background-color: black;
    color: blueviolet;
    transition: all 0.3s ease;
}


@media (max-width: 900px) {
    .navbar {
        flex-wrap: wrap; 
    }
    .part2 {
        flex-direction: column; 
        align-items:center; 
        padding-left: 0;
        padding-right: 0;
    }
    
    .buttons{
        display:grid;
        grid-template-columns: repeat(2,200px);
        gap: 10px;
        justify-content:center;
        text-align: center;
    }

    .texts {
        width: 100%;
        text-align: center;

    }

    .texts p{
        font-size: 16px;
        text-align: center;
    }
}

@media (max-width: 600px) {
    .navbar {
        flex-wrap: wrap; 
    }
    .part2 {
        flex-direction: column; 
        align-items:center; 
        padding-left: 0;
        padding-right: 0;
    }
    .buttons{
        display:grid;
        grid-template-columns: repeat(1,200px);
        gap: 10px;
        justify-content:center;
        text-align: center;
    }

    .texts {
        width: 100%;
        text-align: center;

    }    
    .texts p{
        font-size: 16px;
        text-align: center;
    }
}